<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622404871209-vti5eklgk8dogvbmo49cfgrdb5lseih3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622404871209-vti5eklgk8dogvbmo49cfgrdb5lseih3</string>
	<key>API_KEY</key>
	<string>AIzaSyDEgTjewRWrOgHV-MsOZ9RLyMdCuejtaUU</string>
	<key>GCM_SENDER_ID</key>
	<string>622404871209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qlubb.Qlubb</string>
	<key>PROJECT_ID</key>
	<string>qlubb-61dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>qlubb-61dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622404871209:ios:44d5b8078fe5e9266f6838</string>
</dict>
</plist>